{% from "base.html" import render_css, render_js, render_navbar %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chefs</title>
    {{ render_css(render) }}
  </head>
  <body id="body" class="top4">
    <section>
      {{ render_navbar(render) }}

      <div class="container">
        <div class="container my-5">
          <h1 class="text-center title pt-5">
            My<span class="yellow">Cheff</span>
          </h1>
          <p class="text-center sub">Find Chefs around you...</p>
          <form
            action="{{url_for('chefs.services')}}"
            method="post"
            class="search-location"
            id="search-location"
          >
            <div class="form-group">
              <form id="f">
                <div class="text-center">
                  <div class="search-box">
                    <input
                      required
                      id="city"
                      type="text"
                      name="city"
                      class="s form-rounded p-4 shadow-sm"
                      placeholder="Search Location"
                      aria-label="search location"
                    />
                    <button type="submit" class="btn-search text-center">
                      search
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </form>

          <div class="container list mt-5">
            <div class="row justify-content-center">
              {% for cheffservice in cheffservice.items %}
              <div class="card" style="width: 18rem">
                <img
                  src="../static/images/chef/chef (1).jpg"
                  class="card-img-top mt-3 mb-1"
                  alt="chef-image"
                />
                <div class="card-body">
                  <h5 class="card-title">
                    {{cheffservice.cheffservice.firstname}}
                    {{cheffservice.cheffservice.lastname}}
                  </h5>
                  <p class="card-text card-city">{{cheffservice.city}}</p>
                  <p class="rating">&#9733;&#9733;&#9733;&#9733;&#9734;</p>
                  <div class="row justify-content-center mt-5">
                    <div class="col price">${{cheffservice.cheff_price}}</div>
                    <div class="col">
                      <a
                        href="{{url_for('chefs.single_page', id=cheffservice.id)}}"
                        class="small-btn"
                        >Profile</a
                      >
                    </div>
                  </div>
                </div>
              </div>

              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>

  <script src="../static/js/getCity.js"></script>
  {{ render_js(render) }}
</html>
