{% from "base.html" import render_css, render_js, render_navbar, render_owl %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chefs</title>
    {{ render_css(render) }}
  </head>
  <body id="body">
    <section class="single">
      {{ render_navbar(render) }}

      <div class="col text-center mt-5">
        <h1 style="text-transform: uppercase;">
          {{cheffservice.cheffservice.firstname}}
          {{cheffservice.cheffservice.lastname}}
        </h1>
        <p>{{cheffservice.city}}</p>
      </div>
    

    <div class="container mt-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <img
              class="chef-img col-md"
              src="../static/images/chef/chef (1).jpg"
              alt="chef-image"
            />
          </div>

          <div class="col-md-6 mt-5">
            <h5 class="mb-5">{{cheffservice.cheff_description}}</h5>
            <div class="owl-carousel owl-theme mb-5">
              <div class="item"><img src="../static/images/foods/food1.jpg" alt="food1"></div>
              <div class="item"><img src="../static/images/foods/food2.jpg" alt="food2"></div>
              <div class="item"><img src="../static/images/foods/food3.jpg" alt="food3"></div>
              <div class="item"><img src="../static/images/foods/food4.jpg" alt="food4"></div>
              <div class="item"><img src="../static/images/foods/food1.jpg" alt="food5"></div>
              <div class="item"><img src="../static/images/foods/food1.jpg" alt="food6"></div>
            </div>

            <div class="contact">
              <div class="mb-5">
                <h3>Contact</h3>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                <button class="normal-btn mt-3" type="submit">send</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  </body>

  {{ render_owl(render) }} {{ render_js(render) }}
  <script>
    $(".owl-carousel").owlCarousel({
      loop: true,
      margin: 10,
      nav: true,
      // autoWidth:true,
      responsiveClass:true,
      items: 3,
      responsive: {
        0: {
          items: 1,
        },
        600: {
          items: 3,
        },
        1000: {
          items: 5,
        },
      },
    });
  </script>
</html>
